.student-dashboard{

display:flex;

flex-direction:column;

gap:25px;

}





/* PERFIL */


.profile-card{

background:white;

padding:30px;

border-radius:14px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:0 4px 12px rgba(0,0,0,.05);

}



.profile-info{


h1{

margin:0;

font-size:26px;

color:#0f172a;

}


p{

color:#64748b;

font-size:15px;

}



.status{

display:inline-block;

margin-top:10px;

padding:6px 15px;

border-radius:20px;

background:#dbeafe;

color:#1d4ed8;

font-size:13px;

font-weight:600;

}


}






.attendance-circle{

width:140px;

height:140px;

border-radius:50%;

background:#dcfce7;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:#166534;


strong{

font-size:32px;

}


span{

font-size:12px;

}

}





/* METRICAS */


.metrics-grid{


display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;


}




.metric-card{


background:white;

padding:22px;

border-radius:12px;

box-shadow:0 3px 10px rgba(0,0,0,.05);


h3{

font-size:14px;

color:#64748b;

}


strong{

font-size:32px;

display:block;

margin:10px 0;

}


p{

margin:0;

font-size:13px;

}


}




.metric-card.success{

border-left:5px solid #16a34a;

}



.metric-card.primary{

border-left:5px solid #2563eb;

}



.metric-card.warning{

border-left:5px solid #f59e0b;

}








/* TARJETAS GENERALES */


.section-card{


background:white;

padding:25px;

border-radius:14px;

box-shadow:0 3px 10px rgba(0,0,0,.05);


}




.card-header{


display:flex;

justify-content:space-between;

margin-bottom:20px;



h2{

margin:0;

font-size:18px;

color:#1e293b;

}



span{

font-size:13px;

color:#64748b;

}


}





/* TABLA */


table{

width:100%;

border-collapse:collapse;

}



th{

background:#f8fafc;

color:#64748b;

font-size:13px;

text-align:left;

}



th,td{

padding:15px;

border-bottom:1px solid #e2e8f0;

}





.badge{


padding:6px 14px;

border-radius:20px;

font-size:12px;

font-weight:600;


}



.excelente{

background:#dcfce7;

color:#166534;

}



.bueno{

background:#dbeafe;

color:#1d4ed8;

}



.riesgo{

background:#fee2e2;

color:#991b1b;

}







/* ALERTAS */


.alert{


padding:15px;

border-radius:10px;

margin-bottom:12px;

font-size:14px;


}



.warning{

background:#fef3c7;

color:#92400e;

}



.success{

background:#dcfce7;

color:#166534;

}








@media(max-width:900px){


.metrics-grid{

grid-template-columns:1fr;

}


.profile-card{

flex-direction:column;

gap:25px;

}



}